.imageframe
{
	display: flex;
	align-items: center;
	padding: 0px;
}

.blog-image
{
	height:200px;
	text-align: center;
	line-height: 200px;
	margin: auto;
}

.blog-image img
{
	max-width:100%; max-height:100%; display: inline-block; margin: auto;
}

.article-preview-content-ellipsis
{
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 72px;
	line-height: 1.2;
	margin: 0 auto;
	font-size: 15px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-preview-title-ellipsis
{
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 61px;
	line-height: 1.2;
	margin: 0 auto;
	font-size: 25px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row-article-preview
{
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 0 5px #888;
}

body
{
	min-height: 100vh; 
}

.footer-list
{
	list-style-image: url('list-arrow.png');
}